@font-face {
    font-family: 'Rounded Bold';
    src: url('GlobotipoRounded-Bold.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Light';
    src: url('GlobotipoRounded-Light.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Black';
    src: url('GlobotipoRounded-Black.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Regular';
    src: url('GlobotipoRounded-Regular.ttf');
    font-style: normal;
    font-display: swap;
}

